/* ModalHarajatlar.css */
.expense-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent !important;
    
  }
  
  .expense-container {
    background: transparent !important;
    border-radius: 12px;
    width: 100%;
  }
  
  .expense-header {
    display: flex;
    justify-content: space-between;
  }
  
  .expense-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  
  .expense-table {
    width: 100%;
  }
  
  .expense-cards {
    margin-top: 24px;
  }